.search-container {
    text-align: center;
    margin-top: 20px;
}

#search-pokemon {
    width: 289px;
    padding: 12px;
    border-radius: 25px;
    border: 2px solid #ffcc00;  /* Nice yellow border */
    font-size: 16px;
    outline: none;
    text-align: center; /* Centers input text */
    transition: all 0.3s ease-in-out;
}

#search-pokemon::placeholder {
    text-align: center; /* Centers placeholder text */
    font-size: 16px;
    color: gray;
}

#search-pokemon:hover {
    width: 300px;
}

#search-pokemon:focus {
    border-color: #ff9900; /* Darker orange when focused */
    box-shadow: 0 0 10px rgba(255, 153, 0, 0.5);
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
}
